<div class="slider">
    <div class="slider__content">
        <div class="hashtag">#Bar #Gericht</div>
        <div class="slider__text">
                <div class="slider__suptitle"><h5>Chase the new Flavour</h5><div class="spoon"></div></div>
                <div class="slider__title"><h1>The key to Fine dining</h1></div>
                <div class="margin-bottom-30px"></div>
                <div class="slider-__subtitle"><p>Sit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus </p></div>
                <div class="margin-bottom-30px"></div>
                <div class="slider__button"><button class="btn-text">Explore Menu</button></div>
        </div>
        <div class="slider__photo">
            <div class="square__container">
                {{>square-border}}
            </div>
        </div>
    </div>
    <div class="margin-bottom-60px"></div>
    <div class="slider-pagination text-center"><h6>01-02 03 04</h6></div>
</div>